In [1]:
import pandas as pd

In [5]:
train_df =pd.read_csv('D:/EuroSAT/EuroSAT/train.csv')
val_df = pd.read_csv('D:/EuroSAT/EuroSAT/validation.csv')
test_df = pd.read_csv('D:/EuroSAT/EuroSAT/test.csv')

In [7]:
train_df.head()

,Unnamed: 0,Filename,Label,ClassName
0,16257,AnnualCrop/AnnualCrop_142.jpg,0,AnnualCrop
1,3297,HerbaceousVegetation/HerbaceousVegetation_2835...,2,HerbaceousVegetation
2,17881,PermanentCrop/PermanentCrop_1073.jpg,6,PermanentCrop
3,2223,Industrial/Industrial_453.jpg,4,Industrial
4,4887,HerbaceousVegetation/HerbaceousVegetation_1810...,2,HerbaceousVegetation